

#edit-profile .pw { padding-top: 3px; }
#edit-profile .headicon { border:2px solid #ccc; }

.table-portal td { text-align: left; }

.table-status .left { float: left; height:20px; padding-top: 8px;}
.table-status ul { margin: 0px; padding: 0px; }
.table-status li { list-style: none; float: left; margin-right: 10px; margin-left: 5px;}
.table-status li a { text-decoration: none; color: #464c56;}
.table-status .right { float: right; margin: 0px 5px 5px 0px;}

.widget-content .title-td a { text-decoration: none; color: #464c56 !important; }
.widget-content .title-td { text-align: left; padding-left: 15px; }



