<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>particles.js</title>
	<meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
	<meta name="author" content="Vincent Garreau" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" media="screen" href="css/login.css">

</head>

<body id="particles-js">		
	<div class="main">
		<div class="login-logo"></div>
		<div class="login-tab">
			<div class="login-tab-con">
				<a href="#" class="active" id="login-btn">登录</a>
				<a href="#" id="reg-btn">注册</a>
				<span class="login-active-line" id="active-line"></span>
				<div style="clear:both"></div>
			</div>
		</div>
		<div class="login-main" id="login-form" style="display:block">
			<div class="login-input">
				<div class="login-input-con">
					<div class="input-username input-bottom">
						<input type="text" name="username" placeholder="输入用户名/邮箱" autocomplete="off"/>
					</div>
					<div class="input-password input-bottom">
						<input type="password" name="password" placeholder="输入密码">
					</div>
					<div class="input-checkcode">
						<input type="password" name="checkcode" placeholder="验证码">
					</div>
				</div>
			</div>
			<div class="login-submit">
				<div class="login-submit-con">
					<button>登录</button>
				</div>
			</div>
			<div class="login-third">
				<div class="login-third-con">
					<a href="javascript"><span>社会化登录</span></a>
					<a href="" style="float:right"><span>忘记密码？</span></a>
				</div>
			</div>						
		</div>
		<div class="login-main" id="reg-form" style="display:none">
			<div class="login-input">
				<div class="login-input-con">
					<div class="input-username input-bottom">
						<input type="text" name="username" placeholder="输入邮箱" autocomplete="off"/>
					</div>
					<div class="input-password input-bottom">
						<input type="password" name="password" placeholder="输入密码">
					</div>
					<div class="input-password input-bottom">
						<input type="password" name="repassword" placeholder="重复密码">
					</div>
					<div class="input-checkcode">
						<input type="password" name="checkcode" placeholder="验证码">
					</div>
				</div>
			</div>
			<div class="login-submit">
				<div class="login-submit-con">
					<button>注册</button>
				</div>
			</div>						
		</div>

	</div>

	<!-- scripts -->
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/particles.js"></script>
	<script src="js/app.js"></script>
	<script>
	$(document).ready(function(){
		$('#login-btn').click(function() {
			$('#login-form').attr('style','display:block');
			$('#reg-form').attr('style','display:none');
			$('#active-line').attr('class','login-active-line');
			$(this).attr('class','active');
			$('#reg-btn').attr('class','');

		});
		$('#reg-btn').click(function() {
			$('#reg-form').attr('style','display:block');
			$('#login-form').attr('style','display:none');
			$('#active-line').attr('class','reg-active-line');
			$(this).attr('class','active');
			$('#login-btn').attr('class','');
		});
	});
	</script>
</body>
</html>